.postImage {
  height: 80px;
  max-width: 120px;
  overflow: hidden;
}

.upvote:hover {
  color: #2DDA0F;
}

.downvote:hover {
  color: #F60009;
}

.row {
  margin: 0 0 1.5em 0;
}

.upvoteRating {
  margin: -0.5em 0 0 0;
}
