<div class="container">
  <button ng-click="logout()" class="waves-effect grey btn-large">Logout</button>
  <button id="loginButton" ng-controller="loginCtrl" href="/shared/components/loginView.html" data-target="loginModal" class="waves-effect grey btn-large"> LOGIN</button>
  <button class="registerButton waves-effect grey btn-large" data-target="registerModal"> Register</button>
  <button id="newPost" class="waves-effect grey btn-large" data-target="postModal"> New Post</button>
  <br>
  <br>
  <!-- ng-repeat over posts -->
  <div class="row" ng-repeat="(key, value) in all">
    <div class="col s1 center">
      <i class="material-icons upvote">thumb_up</i>
      <p class="upvoteRating">{{value.score}}</p>
      <i class="material-icons downvote">thumb_down</i>
    </div>
    <div class="col s2">
      <img class="postImage" src={{value.image}}>
    </div>
    <div class="col s8">
      <h5>{{value.url}}</h5>
      <p class="light">{{value.uid}}</p>
    </div>
  </div><!-- row -->

  <!-- Login Modal  -->
  <div id="loginModal" ng-controller="loginCtrl" class="modal">
    <div class="modal-content">
      <h4>Login</h4>
      <form>
        <input type="email" ng-model="user_email" placeholder="Email">
        <input type="password" ng-model="user_password" placeholder="Password">
        <input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="userLogin()" value="LOGIN">
      </form>
      <p>New?
        <button class="registerButton" data-target="registerModal" class="modal-action modal-close waves-effect waves-white btn-flat">Register</button>
      </p>
    </div>
  </div>
  <!-- End Login Modal  -->
  <!-- Register Modal  -->
  <div id="registerModal" class="modal">
    <div class="modal-content">
      <h4>Register</h4>
      <form>
        <input type="text" ng-model="firstName" placeholder="First">
        <input type="text" ng-model="lastName" placeholder="Last">
        <input type="email" ng-model="user_email" placeholder="Email">
        <input type="password" ng-model="user_password" placeholder="Password">
        <input type="submit" ng-click="createUser()" class="modal-action modal-close waves-effect waves-green btn-flat" value="Register">
      </form>
    </div>
  </div>
  <!-- End Register Modal  -->
  <!-- AddPost Modal -->
  <div id="postModal" class="modal">
    <div class="modal-content">
      <h4>New Post</h4>
      <form ng-submit="newPost()">
        <input type="text" ng-model="Photo" placeholder="PhotoUrl">
        <input type="text" ng-model="Title" placeholder="Title">
        <input type="file">
        <input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat" value="Save Song">
      </form>
    </div>
    <!-- End new Post Modal  -->
  </div>
</div>
<!-- end of container -->
